.body-text {

    &--size {
        &-sm {
            @include type-body-sm();
        }
        &-md {
            @include type-body-md();
        }
        &-lg {
            @include type-body-lg();
        }
    }

    &--weight {
        &-bold {
            font-weight: 700;
        }
        &-medium {
            font-weight: 600;
        }
        &-regular {
            font-weight: 400;
        }
        &-light {
            font-weight: 300;
        }
    }

    &--color {
        &-green {
            color:$color-green-primary;
        }
        &-yellow {
            color:$color-yellow-primary;
        }
        &-grey {
            color:$color-grey;
        }
    }
}
