.nav {
    display: flex;

    &-logo {
        display: none;
    }

    &__text-link {
        @include link() 
    }

    &-list {
        text-decoration: none;
        list-style: none;
        li {
            display: inline-block;
            margin: 1.5rem;
        }
        &--icons {
            margin-left: auto;
            margin-right: 2.5rem;
        }
    }

    &-list--ham {
        display: none;
    }

    @media only screen and (max-width: 768px) { 
        &-list{
            margin: 0.5rem;
        }
        &-list--icons {
            display: none;
        }
        // &-list--ham {
        //     display: block;
        //     margin-left: auto;
        // }
    }
}

.nav-folder {
    width: 100%;
    height: 140px;
    background: $color-peach;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}