$color-green-primary: #2E8B81;
$color-green-light: #97C9A3;

$color-yellow-primary: #EFAF08;
$color-yellow-med: #FFD975;
$color-yellow-light: #FFE89B;

$color-peach: #F4EADC;

$color-black: #4F575B;
$color-grey: #8E8E8E;
$color-grey-light: #E5E5E5;
$color-white-grey: #FAFAFA;