// ========== BRAND COLORS

// Primary
$color-green-primary: #2E8B81;
$color-green-light: #97C9A3;

// Secondary
$color-yellow-primary: #EFAF08;
$color-yellow-med: #FFD975;
$color-yellow-light: #FFE89B;


// Neutrals
$color-peach: #F4EADC;
$color-black: #4F575B;
$color-grey: #8E8E8E;
$color-grey-light: #E5E5E5;
$color-white-grey: #FAFAFA;

// Other brand colors
$color-brand-yellow: #FEE89C;
$color-brand-green: #C5E8CD;
$color-brand-purple: #D9B4FF;
$color-brand-red: #FFB7B8;
$color-brand-blue: #D2DFFF;
$color-brand-pink: #FFCFFA;